
    <div class="col-6">
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="floatingInput" value="{{this.first_name}}" placeholder="First Name" name="first_name">
            <label for="floatingInput">First Name</label>
        </div>
    </div>

    <div class="col-6">
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="floatingInput" value="{{this.last_name}}" placeholder="Last Name" name="last_name">
            <label for="floatingInput">Last Name</label>
        </div>
    </div>

    <div class="col-12">
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="floatingInput" value="{{this.place}}" placeholder="Place" name="place">
            <label for="floatingInput">Place</label>
        </div>
    </div>

    <div class="col-12">
        <div class="form-floating mb-3">
            <input type="date" class="form-control" id="floatingInput" value="{{this.date}}" placeholder="Place" name="date">
            <label for="floatingInput">Date</label>
        </div>
    </div>

    <div class="col-12">
        <div class="form-floating mb-3">
        <textarea type="text" class="form-control" placeholder="Description" id="comments" name="description" style="height: 200px;">{{this.description}}</textarea>
        <label for="floatingInput">Description</label>
        </div>
    </div>

    
    {{#if view}}
    {{else}}
    <div class="col-12 d-grid">
        <button class="btn btn-primary" type="submit">Submit</button>
    </div>
    {{/if}}
